@font-face {
  font-family: Raleway;
  src: url("Ressources/font/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype");
  src: url("Ressources/font/Raleway-VariableFont_wght.ttf") format("truetype");
}

*,
:before,
:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden visible;
  font-family: Raleway;
}

header,
main {
  max-width: 1370px;
}

h1 {
  width: 100%;
  font-size: 24px;
  font-variation-settings: "wght" 500;
  background-color: white;
}

h2 {
  font-size: 20px;
  font-variation-settings: "wght" 500;
}

h3 {
  font-size: 16px;
  font-variation-settings: "wght" 500;
}

ul {
  list-style-type: none;
}

p {
  font-variation-settings: "wght" 450;
}

a {
  color: black;
  text-decoration: none;
}

/* _____________________ DEBUT HEADER _____________________ */
/* _____________________ DEBUT HEADER _____________________ */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 1370px;
}

.div_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100px;
}

.list_nav {
  display: flex;
}

.list_nav li {
  width: 200px;
  height: 70px;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav_link_1 {
  border-top: 3px solid #0065fc;
}

.nav_link_1 a {
  color: #0065fc;
}

.list_nav li:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* _____________________ FIN HEADER _____________________ */
/* _____________________ FIN HEADER _____________________ */

/* _____________________ DEBUT MAIN_____________________ */
/* _____________________ DEBUT MAIN_____________________ */

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

/* _____________________ DEBUT BARRE DE RECHERCHE _____________________ */

.header_main {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
  margin-top: 30px;
}

.research {
  width: 100%;
  height: 45px;
}

.research_form {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.research_form_lab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  padding: 12px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.research_form_lab .dot {
  font-size: 18px;
}

.research_form_input {
  width: 250px;
  min-width: 150px;
  border: 1px solid #f2f2f2;
  padding: 0 15px;
  font-size: large;
  outline: none;
}

.research_form_input::placeholder {
  opacity: 100%;
  color: black;
  font-size: large;
}

.research_form_btn_text {
  width: 125px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
}

button:hover {
  background-color: #0058dd;
}

button:active {
  box-shadow: 0px 0px 3px rgba(5, 79, 216, 0.6);
}

.research_form_btn_icn {
  display: none;
}

/* _____________________ FIN BARRE DE RECHERCHE _____________________ */

/* _____________________ DEBUT FILTRES _____________________ */

.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  row-gap: 0px;
  column-gap: 20px;
}

.filters_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  gap: 20px;
}

.filters_list li {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 20px 0px 0px;
  border-radius: 25px;
  font-variation-settings: "wght" 700;
  border: 2px solid #e2e2e2;
  border-left: none;
  gap: 5px;
}

.filters_list li:hover {
  color: white;
  background-color: #0065fc;
}

.filters_list_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #deebff;
  border: 3px solid #deebff;
  border-radius: 25px;
  padding-left: 0px;
}

.filters_list i {
  color: #0065fc;
  padding: 5px;
  font-size: 20px;
}

.result_filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.result_filter i {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  max-width: 25px;
  height: 25px;
  border: 2px solid #dbdbdbb7;
  border-radius: 25px;
  color: #0065fc;
  font-size: 13px;
}

/* _____________________ FIN - FILTRES _____________________ */
/* _____________________ FIN - HEADER MAIN _____________________ */

/* _____________________ DEBUT SECTION + ASIDE  _____________________ */

#section_and_aside {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

#section_and_aside .card_heb:hover,
.card_pop:hover {
  transform: scale(1.05);
  transition-duration: 200ms;
}

.card_review {
  display: flex;
  width: 100%;
  font-size: 13px;
  margin: 7px 0 10px 10px;
}

#Populaires .card_review {
  margin: 0;
  margin-top: auto;
}

.card_review i {
  color: #0065fc;
}
.card_review .empty {
  color: #d8d8d8;
}

/* -------------------  */

#Hébergements {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
}

#Hébergements h2 {
  font-size: 20px;
}

.all_cards_heb {
  display: flex;
  flex-flow: row wrap;
  width: 850px;
  gap: 20px;
}

.card_heb {
  display: flex;
  flex-flow: column nowrap;
  min-width: 270px;
  max-width: 270px;
  background-color: white;
  border: 5px solid white;
  border-radius: 25px;
  box-shadow: 5px 8px 25px -5px rgba(0, 0, 0, 0.336);
  transition-duration: 100ms;
}

.card_heb_img {
  width: 100%;
}

.card_heb img {
  width: 100%;
  height: 115px;
  margin: 0 0 5px 0;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.card_heb_desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  gap: 5px;
}

.lowprice,
.euro_sign {
  font-variation-settings: "wght" 650;
}

.show_more {
  margin: 10px 0;
  font-variation-settings: "wght" 600;
}

/*_______________________ DEBUT - ASIDE _______________________*/

#Populaires {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
}

.header_aside {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.all_cards_pop {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.card_pop {
  display: flex;
  height: 140px;
  background-color: white;
  border: 5px solid white;
  border-radius: 25px;
  gap: 10px;
  box-shadow: 5px 8px 25px -5px rgba(0, 0, 0, 0.336);
  transition-duration: 100ms;
}

.card_pop_img > img {
  width: 110px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.card_pop_desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 135px;
  margin: 10px;
  gap: 7px;
}

/*_______________________ FIN - ASIDE _______________________*/
/* _____________________ FIN SECTION + ASIDE  _____________________ */

/* _____________________ DEBUT ACTIVITÉS_____________________ */

#Activités {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  gap: 20px;
}

.all_cards_act {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 100%;
  height: 410px;
  gap: 30px;
}

.card_act {
  display: flex;
  flex-flow: column nowrap;
  width: 23%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 8px 25px -5px rgba(0, 0, 0, 0.53);
  transition-duration: 100ms;
}

.card_act:hover {
  transform: scale(1.05);
  transition-duration: 200ms;
}

.card_act img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.card_act > h3 {
  margin: 15px 0 15px 20px;
}

.card1,
.card4 {
  height: 400px;
}

.picture1,
.picture4 {
  height: 350px;
}

.card2 {
  height: 220px;
}

.picture2 {
  height: 170px;
}

.card3 {
  height: 150px;
}

.picture3 {
  height: 100px;
}

.card5 {
  height: 180px;
}

.picture5 {
  height: 130px;
}

.card6 {
  height: 190px;
}

.picture6 {
  height: 140px;
}

/* _____________________ DEBUT FOOTER _____________________ */
/* _____________________ DEBUT FOOTER _____________________ */

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 30px;
}

.content_footer {
  display: flex;
  flex-flow: row nowrap;
  min-width: 1360px;
  gap: 100px;
}

.content_footer div {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin: 20px 0;
}

footer p:hover {
  color: #6a71b3;
}

/*__________________________________________________________________ MEDIA QUERIES __________________________________________________________________*/

@media all and (max-width: 1389px) {
  header,
  main {
    min-width: initial;
    width: 100%;
  }

  .header_main {
    margin-left: 15px;
  }

  #section_and_aside {
    flex-direction: column-reverse;
  }

  #Hébergements,
  #Populaires {
    border-radius: 0;
  }

  .card_heb:hover,
  .card_pop:hover,
  .card_act:hover {
    transform: scale(1.025);
  }

  .all_cards_heb {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  .card_heb,
  .card_pop {
    min-width: 31%;
  }

  .all_cards_pop {
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
  }

  #Activités {
    padding: 30px;
  }

  .all_cards_act {
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: unset;
    height: auto;
    row-gap: 30px;
  }

  .card_act {
    width: 48.5%;
    height: 200px;
  }

  .card_act_img {
    width: 100%;
    height: 150px;
  }

  .content_footer {
    min-width: 95%;
    justify-content: space-between;
  }
}

@media all and (max-width: 992px) {
  .all_cards_pop {
    width: 100%;
    flex-direction: column;
  }

  .card_pop {
    width: 100%;
  }

  footer {
    display: initial;
  }

  .content_footer {
    justify-content: space-around;
    margin-left: initial;
    gap: 125px;
  }
}

@media all and (max-width: 866px) {
  .filters_list {
    margin-top: 10px;
  }

  .card_heb {
    min-width: 100%;
  }

  .content_footer {
    justify-content: space-around;
    gap: 80px;
  }
}

@media all and (max-width: 768px) {
  header {
    flex-flow: column nowrap;
    justify-content: center;
  }

  .list_nav {
    display: flex;
    justify-content: space-between;
  }

  .list_nav li {
    width: 50%;
  }

  .list_nav li:hover {
    border-top: none;
  }

  .nav_link_1 {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }

  .nav_link_2 {
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
  }

  .research_div {
    margin: 20px 0px 0px 0px;
  }

  .research_form_input {
    width: 100%;
    flex-grow: 1;
  }

  .research_form_btn_text {
    display: none;
  }

  .research_form_btn_icn {
    display: initial;
    position: relative;
    right: 10px;
    min-width: 45px;
    max-width: 45px;
    font-size: 14px;
    background-color: #0065fc;
    color: white;
    border: 0px;
    border-radius: 15px 15px 15px 15px;
  }

  .filters_list {
    padding-right: 20px;
    gap: 15px;
  }

  #Activités {
    padding: 0 30px;
  }

  .all_cards_act {
    flex-flow: column nowrap;
    align-items: center;
  }

  .card_act {
    width: 98%;
  }

  footer {
    justify-content: flex-start;
    padding: 0 30px;
  }

  .content_footer {
    flex-direction: column;
    width: 83%;
    gap: 15px;
  }
}

@media all and (max-width: 300px) {
  #Hébergements,
  #Populaires,
  #Activités {
    padding: 5px 0;
  }
}
