@font-face {
    font-family: Raleway;
    src: url("Ressources/font/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    src: url("Ressources/font/Raleway-VariableFont_wght.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

/* _____________________ DEBUT HEADER _____________________ */
/* _____________________ DEBUT HEADER _____________________ */

#bodiv {
    font-family: Raleway;
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: column nowrap;
    height: 100%;
    padding: 0 18% 0 18%;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 0px;
    order: 1;
}

.div_logo {
    display: flex;
    width: 10%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    background-color: white;
}

.listenav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.lienpuce {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 50%;
    flex-grow: 1; */
    width: 200px;
    height: 70px;
    margin: 0px 0px 0px 0px;

}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lienpuce1 {
    border-top: 3px solid #0065FC;
}

.lienpuce1 a {
    color: #0065FC;
}

.lienpuce:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* _____________________ FIN HEADER _____________________ */
/* _____________________ FIN HEADER _____________________ */

/* _____________________ DEBUT MAIN_____________________ */
/* _____________________ DEBUT MAIN_____________________ */

main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin: 0px;
    order: 2;
    gap: 30px;
}

/* _____________________ DEBUT BARRE DE RECHERCHE _____________________ */

.h2_1 {
    margin: 5px 0px 3px 0px;
    background-color: white;
}

.p1 {
    margin: 3px 0px 15px 0px;
}

.divBDR {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 45px;
    margin: 0px 0px 10px 0px;
}

.formBDR {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.labelBDR {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    padding: 12px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.dot {
    font-size: 18px;
}

.saisieBDR {
    width: 250px;
    border: 1px solid #F2F2F2;
    padding: 0 15px 0 10px;
    /* Pour ne pas coller l'écriture */
    font-weight: bold;
    font-size: large;
    outline: none;
    /* Sert à retirer la bordure par défaut quand on clique sur la zone de saisie */

}

input::placeholder {
    opacity: 100%;
    color: black;
    font-size: large;
}

.buttonBDR {
    width: 125px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
}

.buttonBDR:hover {
    background-color: #0058dd;
}

.buttonBDR:active {
    box-shadow: 0px 0px 3px rgba(5, 79, 216, 0.6);
}

/* _____________________ FIN BARRE DE RECHERCHE _____________________ */

/* _____________________ DEBUT FILTRES _____________________ */

.divfilter {
    /* div des filtres */
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    font-variation-settings: 'wght'600;
}

.hfilter {
    margin-right: 25px;
}

.listbtnfilter {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.icnfilter {
    color: #0065FC;
    padding: 5px;
    font-size: 20px;

}

.btnfilter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px solid #dadada;
    margin: 5px 20px 5px 0px;
    height: 50px;
    padding: 0px 20px 0px 0px;
    border-radius: 25px;
    font-variation-settings: 'wght'700;
    border-left: none;
    /* enlève la bordure à gauche pour pas que ça fasse moche avec la bordure de l'icone */
    gap: 5px;
    /* espace entre l'icone et le texte */

}

.bordericn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 25px;
    padding-left: 0px;
    /* position: relative; */
    /* right: 10px; <= j'avais fait ça avant pour placer mes bordures de l'icone au-dessus de la bordure du champ de saisie */
}

.resultfilter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.infoicn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 0px;
    background-color: white;
    border: 2px solid #dbdbdb9f;
    border-radius: 25px 25px 25px 25px;
}

/* _____________________ FIN - FILTRES _____________________ */
.icni {
    color: #0065FC;
    font-size: 13px;
}

.pinfo {
    margin: 0 0 0 10px;
}

/* _____________________ FIN - HEADER MAIN _____________________ */

/* _____________________ DEBUT SECTION + ASIDE  _____________________ */

#section_et_aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0px;
    gap: 20px;
}

#Hébergements {
    width: auto;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 30px 30px 0px 30px;
    gap: 20px;
}


.titre_heb {
    display: flex;
    width: 100%;
    font-size: 20px;
    font-variation-settings: 'wght'500;
    margin: 0px;
    padding: 0px;
}

.ligne_un, .ligne_deux {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0;
}

.article_heb {
    /* chaque carte */
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
}

.img_heb {
    display: flex;
    width: 100%;
}

.article_heb img {
    width: 100%;
    height: 115px;
    margin: 0px 0px 5px 0px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.description_article_heb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px
}

.titre_article_heb {
    width: 100%;
    font-size: 15px;
    font-variation-settings: 'wght'550;
    margin: 0px;
}

.particle {
    width: 100%;
    font-size: 14px;
    font-variation-settings: 'wght'450;
    margin: 5px 0 0 0;
}

.lowprice {
    font-variation-settings: 'wght'650;
}

.€ {
    font-variation-settings: 'wght'650;
}

.note_star_heb {
    display: flex;
    width: 100%;
    font-size: 13px;
    margin: 5px 0 10px 10px;

}

.star {
    color: #0065FC;
}

.vide {
    color: #d8d8d8;
}

.footer_heb {
    width: 100%;
    height: 5%;
}

.titrefooter {
    width: 100%;
    height: 100%;
    font-size: 17px;
    margin: 0 0 0 10px;
    /* pour aligner avec les cartes */
    font-variation-settings: 'wght'500;
}

/*_______________________ DEBUT - ASIDE _______________________*/

#Populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
    width: 100%;
    margin: 0px;
    gap: 20px;
}

.headerpop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0px;
}

.titreaside {
    font-size: 20px;
    font-variation-settings: 'wght'500;
    margin: 0px 10px 0 0;
    padding: 0px;
}

#all_articles_pop {
    /* div */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: space-between;
    height: 100%;
}

.articles_pop {
    /* chaque carte */
    display: flex;
    height: 140px;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    gap: 10px;
}


.img_pop img {
    width: 110px;
    height: 100%;
    margin: 0px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.img_pop {
    display: flex;
    width: 110px;
    height: 100%;
}

.titre_article_pop {
    width: 100%;
    font-size: 15px;
    font-variation-settings: 'wght'550;
    margin: 0px;
}

.description_article_pop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 15px 0 10px 15px;
}

.note_star_pop {
    display: flex;
    width: 100%;
    font-size: 13px;
    margin-top: auto;
}

/*_______________________ FIN - ASIDE _______________________*/

/* _____________________ FIN SECTION + ASIDE  _____________________ */

/* _____________________ DEBUT ACTIVITÉS_____________________ */

#Activités {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    gap: 20px;
    /*pour séparer le titre des cards */
}

.titre_act {
    font-size: 20px;
    font-variation-settings: 'wght'500;
    margin: 0px;
    padding: 0px;
}

.all_marseille_act {
    /* bloc parent de toutes les cards */
    display: flex;
    flex-flow: column wrap;
    align-items: space-between;
    width: 100%;
    height: 410px;
    gap: 30px;
}

.article_act {
    /* chaque carte */
    display: flex;
    flex-flow: column nowrap;
    width: 23%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 8px 25px -5px rgba(0, 0, 0, 0.53);
    margin: 0px;
}

.article_act .img_act {
    display: flex;
    width: 100%;
}

.article_act img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.titre_article_act {
    font-size: 17px;
    font-variation-settings: 'wght'550;
    margin: 15px 0 15px 20px;
}

/* Hauteur des cards et des images */

.article1, .article4 {
    height: 400px;
}

.photo1, .photo4 {
    height: 350px;
}

.article2 {
    height: 220px;
}

.photo2 {
    height: 170px;
}

.article3 {
    height: 150px;
}

.photo3 {
    height: 100px;
}

.article5 {
    height: 180px;
}

.photo5 {
    height: 130px;
}

.article6 {
    height: 190px;
}

.photo6 {
    height: 140px;
}


/* _____________________ DEBUT FOOTER _____________________ */
/* _____________________ DEBUT FOOTER _____________________ */

#footer {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    order: 3;
}

/*__________________________________________________________________ MEDIA QUERIES __________________________________________________________________*/

@media screen and (max-width:992px) {}


@media screen and (min-width:768px) {
    .buttonIC {
        display: none;
    }

    /* j'aurais pu faire un visibility : hidden (s'affiche tjrs dans le HTML et dans le CSS, ses dimensions sont toujours là du coup gênant) ou un display_none (alors que oui non) */
}

@media screen and (max-width:768px) {
    body {
        margin: 0px;
    }

    .bodyv {
        margin-left: 0px;
    }

    .header {
        flex-flow: column nowrap;
        justify-content: center;
        margin: 0px;
    }

    .div_logo {
        display: flex;
        width: 100%;
    }

    .lienpuce1 {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .lienpuce:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }



    /* _____________________ FIN HEADER _____________________ */
    /* _____________________ DEBUT HEADER MAIN_____________________ */

    .h2_1 {
        margin: 5px 0px 3px 10px;
    }

    .p1 {
        margin: 0 0 0 10px;
    }

    .divBDR {
        margin: 20px 0px 0px 10px;
    }

    .formBDR {
        margin-right: 10px;
        /* Pour pas que la loupe colle sur la droite */
    }

    .saisieBDR {
        flex-grow: 1;
        /* La barre de saisie s'étend sur toute la largeur du bloc parent */
    }

    .buttonBDR {
        display: none;
    }

    .buttonIC {
        height: 100%;
        max-width: 45px;
        font-size: 14px;
        color: white;
        flex-grow: 2;
        background-color: #0065FC;
        border: 0px;
        border-radius: 15px 15px 15px 15px;
        /* margin-left:-25px; => Alternative au position:absolute */
        position: relative;
        right: 10px;
    }

    .buttonIC:hover {
        background-color: #0058dd;
    }

    .buttonIC:active {
        box-shadow: 0px 0px 3px rgba(5, 79, 216, 0.6);
    }

    /* _____________________ DEBUT FILTRES _____________________ */
    .divfilter {
        margin-left: 10px;
    }

    .listbtnfilter {
        margin: 5px 20px 5px 0px;

    }

    .resultfilter {
        margin-left: 10px;
    }
}